body{ 
  margin-top:40px; 
}

 /* HTML Details Tag start in the HomePage */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
/* Read more css start */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #f5f7f9;
     font-family: Open Sans, sans-serif;
 }

 .box {
     width: 30%;
     float: left;
     margin: 15px 15px;
     padding: 15px;
     border-radius: 8px;
     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

 }

 .box h4 {
     margin-bottom: 10px;

 }

 .box p {
     font-size: 15px;
     line-height: 28px;
     height: 90px;
     overflow: hidden;
 }

 /* .box a {
     display: inline-block;
     color: #fff;
     background-color: #2196f3;
     text-decoration: none;
     padding: 10px 15px;
     border-radius: 8px;
     margin-top: 15px;
 } */

 .box a:hover {
     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
 }

 .box.showContent p {
     height: auto;
 }

 .box.showContent a.readmore-btn {
     background-color:aqua;
     /* text-decoration: none; */

 }

 /* Read more option css end */